<!-- SLIDER -->

<div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
    <h2> {{ params.title }} </h2>    
</div>

<div class="w-100">

    <swiper-container #swiperCards style="border-radius: 2rem;">

        <!-- SLIDER -->
        <swiper-slide class="swiper-slide">
            <div class="card product-card card-static pb-0">
                <a class="card-img-top d-block overflow-hidden" [routerLink]="['/rifa', 'as2d15as6d1a5sd1']">
                  <img src="../../../../assets/img/home/banners/toyota.webp" alt="Product" class="loaded tns-complete">
                  <!-- <img *ngIf="product.img.length > 0" [src]="product.img[0].img | imagen " alt="Product" class="loaded tns-complete">
                  <img *ngIf="product.img.length === 0" [src]="'none' | imagen " alt="Product" class="loaded tns-complete"> -->
                </a>
                <div class="card-body py-2">
                    <a class="product-meta d-block fs-xs pb-1"> {{ '12/29/2024 22:10' | date:'short' }} </a>
                    <p class="text-muted mb-0 fs-xs"> Loteria del tachira "A"</p>
                    <h3 class="product-title fs-sm text-truncate">
                        <a [routerLink]="['/rifa', 'as2d15as6d1a5sd1']"> Gana toyota Collora 2020 </a>
                    </h3>
                    <div class="product-price">
                        <span class="text-accent" >
                            <span> {{ 35 | currency }} </span>
                        </span>                        
                    </div>
                </div>

                <button class="btn btn-primary bg-primero text-white border-0 btn-shadow btn-sm w-100" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
            </div>
        </swiper-slide>
        <!-- SLIDER -->
        <swiper-slide class="swiper-slide">
            <div class="card product-card card-static pb-0">
                <a class="card-img-top d-block overflow-hidden" [routerLink]="['/rifa', 'as2d15as6d1a5sd1']">
                  <img src="../../../../assets/img/home/banners/toyota.webp" alt="Product" class="loaded tns-complete">
                  <!-- <img *ngIf="product.img.length > 0" [src]="product.img[0].img | imagen " alt="Product" class="loaded tns-complete">
                  <img *ngIf="product.img.length === 0" [src]="'none' | imagen " alt="Product" class="loaded tns-complete"> -->
                </a>
                <div class="card-body py-2">
                    <a class="product-meta d-block fs-xs pb-1"> {{ '12/29/2024 22:10' | date:'short' }} </a>
                    <p class="text-muted mb-0 fs-xs"> Loteria del tachira "A"</p>
                    <h3 class="product-title fs-sm text-truncate">
                        <a [routerLink]="['/rifa', 'as2d15as6d1a5sd1']"> Gana toyota Collora 2020 </a>
                    </h3>
                    <div class="product-price">
                        <span class="text-accent" >
                            <span> {{ 35 | currency }} </span>
                        </span>                        
                    </div>
                </div>

                <button class="btn btn-primary bg-primero text-white border-0 btn-shadow btn-sm w-100" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
            </div>
        </swiper-slide>
        <!-- SLIDER -->
        <swiper-slide class="swiper-slide">
            <div class="card product-card card-static pb-0">
                <a class="card-img-top d-block overflow-hidden" [routerLink]="['/rifa', 'as2d15as6d1a5sd1']">
                  <img src="../../../../assets/img/home/banners/toyota.webp" alt="Product" class="loaded tns-complete">
                  <!-- <img *ngIf="product.img.length > 0" [src]="product.img[0].img | imagen " alt="Product" class="loaded tns-complete">
                  <img *ngIf="product.img.length === 0" [src]="'none' | imagen " alt="Product" class="loaded tns-complete"> -->
                </a>
                <div class="card-body py-2">
                    <a class="product-meta d-block fs-xs pb-1"> {{ '12/29/2024 22:10' | date:'short' }} </a>
                    <p class="text-muted mb-0 fs-xs"> Loteria del tachira "A"</p>
                    <h3 class="product-title fs-sm text-truncate">
                        <a [routerLink]="['/rifa', 'as2d15as6d1a5sd1']"> Gana toyota Collora 2020 </a>
                    </h3>
                    <div class="product-price">
                        <span class="text-accent" >
                            <span> {{ 35 | currency }} </span>
                        </span>                        
                    </div>
                </div>

                <button class="btn btn-primary bg-primero text-white border-0 btn-shadow btn-sm w-100" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
            </div>
        </swiper-slide>
        <!-- SLIDER -->
        <swiper-slide class="swiper-slide">
            <div class="card product-card card-static pb-0">
                <a class="card-img-top d-block overflow-hidden" [routerLink]="['/rifa', 'as2d15as6d1a5sd1']">
                  <img src="../../../../assets/img/home/banners/toyota.webp" alt="Product" class="loaded tns-complete">
                  <!-- <img *ngIf="product.img.length > 0" [src]="product.img[0].img | imagen " alt="Product" class="loaded tns-complete">
                  <img *ngIf="product.img.length === 0" [src]="'none' | imagen " alt="Product" class="loaded tns-complete"> -->
                </a>
                <div class="card-body py-2">
                    <a class="product-meta d-block fs-xs pb-1"> {{ '12/29/2024 22:10' | date:'short' }} </a>
                    <p class="text-muted mb-0 fs-xs"> Loteria del tachira "A"</p>
                    <h3 class="product-title fs-sm text-truncate">
                        <a [routerLink]="['/rifa', 'as2d15as6d1a5sd1']"> Gana toyota Collora 2020 </a>
                    </h3>
                    <div class="product-price">
                        <span class="text-accent" >
                            <span> {{ 35 | currency }} </span>
                        </span>                        
                    </div>
                </div>

                <button class="btn btn-primary bg-primero text-white border-0 btn-shadow btn-sm w-100" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
            </div>
        </swiper-slide>
        <!-- SLIDER -->
        <swiper-slide class="swiper-slide">
            <div class="card product-card card-static pb-0">
                <a class="card-img-top d-block overflow-hidden" [routerLink]="['/rifa', 'as2d15as6d1a5sd1']">
                  <img src="../../../../assets/img/home/banners/toyota.webp" alt="Product" class="loaded tns-complete">
                  <!-- <img *ngIf="product.img.length > 0" [src]="product.img[0].img | imagen " alt="Product" class="loaded tns-complete">
                  <img *ngIf="product.img.length === 0" [src]="'none' | imagen " alt="Product" class="loaded tns-complete"> -->
                </a>
                <div class="card-body py-2">
                    <a class="product-meta d-block fs-xs pb-1"> {{ '12/29/2024 22:10' | date:'short' }} </a>
                    <p class="text-muted mb-0 fs-xs"> Loteria del tachira "A"</p>
                    <h3 class="product-title fs-sm text-truncate">
                        <a [routerLink]="['/rifa', 'as2d15as6d1a5sd1']"> Gana toyota Collora 2020 </a>
                    </h3>
                    <div class="product-price">
                        <span class="text-accent" >
                            <span> {{ 35 | currency }} </span>
                        </span>                        
                    </div>
                </div>

                <button class="btn btn-primary bg-primero text-white border-0 btn-shadow btn-sm w-100" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
            </div>
        </swiper-slide>
        <!-- SLIDER -->
        <swiper-slide class="swiper-slide">
            <div class="card product-card card-static pb-0">
                <a class="card-img-top d-block overflow-hidden" [routerLink]="['/rifa', 'as2d15as6d1a5sd1']">
                  <img src="../../../../assets/img/home/banners/toyota.webp" alt="Product" class="loaded tns-complete">
                  <!-- <img *ngIf="product.img.length > 0" [src]="product.img[0].img | imagen " alt="Product" class="loaded tns-complete">
                  <img *ngIf="product.img.length === 0" [src]="'none' | imagen " alt="Product" class="loaded tns-complete"> -->
                </a>
                <div class="card-body py-2">
                    <a class="product-meta d-block fs-xs pb-1"> {{ '12/29/2024 22:10' | date:'short' }} </a>
                    <p class="text-muted mb-0 fs-xs"> Loteria del tachira "A"</p>
                    <h3 class="product-title fs-sm text-truncate">
                        <a [routerLink]="['/rifa', 'as2d15as6d1a5sd1']"> Gana toyota Collora 2020 </a>
                    </h3>
                    <div class="product-price">
                        <span class="text-accent" >
                            <span> {{ 35 | currency }} </span>
                        </span>                        
                    </div>
                </div>

                <button class="btn btn-primary bg-primero text-white border-0 btn-shadow btn-sm w-100" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
            </div>
        </swiper-slide>
        


    </swiper-container>
</div>
<!-- SLIDER -->