<!-- SLIDER -->

<div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
    <h2> {{ params.title }} </h2>    
</div>

<div class="w-100">

    <swiper-container #swiperCards style="border-radius: 2rem;">

        <!-- SLIDER -->
        <swiper-slide class="swiper-slide" *ngFor="let rifa of rifas">
            <div class="card product-card card-static pb-0">
                <a class="card-img-top d-block overflow-hidden" [routerLink]="['/rifa', rifa.rifid]">
                  <img *ngIf="rifa.img.length > 0" [src]="rifa.img[0].img | imagen " alt="Product" class="loaded tns-complete">
                  <img *ngIf="rifa.img.length === 0" [src]="'none' | imagen " alt="Product" class="loaded tns-complete">
                </a>
                <app-countdown-timer [targetDate]="rifa.fecha" class="mx-auto mt-2"></app-countdown-timer>
                <div class="card-body py-2">
                    <a class="product-meta d-block fs-xs pb-1"> {{ rifa.fecha | date:'dd/MM/Y h:m a' }} </a>
                    <p class="text-muted mb-0 fs-xs"> Loteria del tachira "A"</p>
                    <h3 class="product-title fs-sm text-truncate">
                        <a [routerLink]="['/rifa', rifa.rifid]"> {{rifa.name}} </a>
                    </h3>
                    <div class="product-price">
                        <span class="text-accent" >
                            <span> {{ rifa.monto | currency }} </span>
                        </span>                        
                    </div>
                </div>

                <button class="btn btn-primary bg-primero text-white border-0 btn-shadow btn-sm w-100" type="button">Ver Rifa</button>
            </div>
        </swiper-slide>
        <!-- SLIDER -->
    </swiper-container>
</div>
<!-- SLIDER -->