/* ===================================================
SWIPER
====================================================*/
.swiper {
    height: auto;
}
  
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}