<div class="d-flex flex-row gap-1" *ngIf="timeRemaining">

    <div class="card p-3 text-center">
        <p class="mb-0 fw-bolder">D</p>
        <p class="mb-0">{{ timeRemaining.days  }}</p>
    </div>
    <div class="card p-3 text-center">
        <p class="mb-0 fw-bolder">H</p>
        <p class="mb-0">{{timeRemaining.hours}}</p>
    </div>
    <div class="card p-3 text-center">
        <p class="mb-0 fw-bolder">M</p>
        <p class="mb-0">{{timeRemaining.minutes}}</p>
    </div>
    <div class="card p-3 text-center">
        <p class="mb-0 fw-bolder">S</p>
        <p class="mb-0"> {{timeRemaining.seconds}} </p>
    </div>



    <!-- <p>
        Días: {{ timeRemaining.days }} | Horas: {{ timeRemaining.hours }} |
        Minutos: {{ timeRemaining.minutes }} | Segundos: {{ timeRemaining.seconds }}
    </p> -->
</div>