<section class="ps-lg-4 pe-lg-3 pt-4">
    <div class="px-3 pt-2" *ngIf="rifa">
        <!-- Page title + breadcrumb-->
        <nav class="mb-4" aria-label="breadcrumb">
            <ol class="breadcrumb flex-lg-nowrap">
                <li class="breadcrumb-item">
                    <a class="text-nowrap" routerLink="/home">
                        <i class="ci-home"></i>Inicio
                    </a>
                </li>
                <li class="breadcrumb-item text-nowrap"><a>Rifa</a>
                </li>
                <li class="breadcrumb-item text-nowrap active text-break" aria-current="page"> <span class="text-break text-wrap">{{rifa.name}}</span>  </li>
            </ol>
        </nav>
        <!-- Content-->
        <!-- Product Gallery + description-->

        <!-- Product Gallery + description-->
        <section class="row g-0 mx-n2 pb-5 mb-xl-3">
            <div class="col-xl-7 px-2 mb-3">
                <div class="h-100 bg-light rounded-3 p-4">
                    <div class="product-gallery">
                        <div class="product-gallery-preview order-sm-2">
                            <div class="product-gallery-preview-item active">
                                <img [src]="portada | imagen" alt="Product image">
                            </div>
                        </div>

                        <div class="product-gallery-thumblist order-sm-1">
                            <a (click)="portada = img.img" class="product-gallery-thumblist-item pointer" *ngFor="let img of rifa.img">
                                <img [src]="img.img | imagen" [alt]="rifa.name" style="width: 100%; height: 100%; object-fit: cover;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 px-2 mb-3">
                <div class="h-100 rounded-3 py-5 px-4 px-sm-5">
                    <h4 *ngIf="!rifa.abierta" class="mb-0 text-danger">Finalizada</h4>
                    <h1 class="h2 text-white"> {{ rifa.name }}</h1>
                    <h2 class="h5 text-white"> "{{ rifa.loteria }}" </h2>
                    <!-- TIMER -->
                    <p class="mb-1 text-white">Faltan:</p>
                    <app-countdown-timer [targetDate]="rifa.fecha"></app-countdown-timer>
                    <p class="d-flex text-white">
                      <i class="fi-calendar fs-base me-2" style="margin-top: 3px"></i>
                      {{ rifa.fecha | date:'dd/MM/Y h:m a' }}
                    </p>                 
                    
                    <div>
                        <div class="h2 fw-normal text-white">
                            <span class="text-white">{{ rifa.monto * metodoSelected?.tasa!| number }} Bs</span>
                        </div>
                    </div>

                    <h6 class="text-white">Descripción de la rifa</h6>
                    <p class="text-white"> {{ rifa.descripcion }} </p>

                    <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#searchTicket">
                        Verificar mi ticket
                    </button>
                </div>
            </div>
        </section>

        <!-- SECTION TICKET GANADOR -->
        <section *ngIf="ganador" class="container mt-sm-2 mt-md-3 mt-lg-4">
            <h3 class="h5">Ticket Ganador</h3>
            <div class="row g-0" style="color: #fff">
              <div class="col-md-3 mb-n4 mb-md-0">
                <div class="position-relative d-flex flex-column align-items-center justify-content-center h-100 py-5">
                  <div class="position-absolute top-0 start-0 w-100 h-100 d-none d-md-block">
                    <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none-dark" style="background-color: #ec5d47"></span>
                    <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none d-block-dark" style="background-color: #c43431"></span>
                  </div>
                  <div class="position-absolute top-0 start-0 w-100 h-100 d-md-none">
                    <span class="position-absolute top-0 start-0 w-100 h-100 rounded-top-5 d-none-dark" style="background: linear-gradient(90deg, #ec5d47 0%, #c43431 100%)"></span>
                    <span class="position-absolute top-0 start-0 w-100 h-100 rounded-top-5 d-none d-block-dark" style="background: linear-gradient(90deg, #1b273a 0%, #1f2632 100%)"></span>
                  </div>
                  <div class="position-relative z-1 display-1  text-nowrap mb-0">
                    #{{ ganador.numero}}                    
                  </div>
                </div>
              </div>
              <div class="col-md-9 position-relative">
                <div class="position-absolute top-0 start-0 h-100 overflow-hidden rounded-pill z-2 d-none d-md-block" style="color: var(--cz-body-bg); margin-left: -2px">
                  <svg width="4" height="436" viewBox="0 0 4 436" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 0L1.99998 436" stroke="currentColor" stroke-width="3" stroke-dasharray="8 12" stroke-linecap="round"></path>
                  </svg>
                </div>
                <div class="position-relative">
                  <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none-dark rtl-flip" style="background: linear-gradient(90deg, #ec5d47 0%, #c43431 100%)"></span>
                  <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none d-block-dark rtl-flip" style="background: linear-gradient(90deg, #1b273a 0%, #1f2632 100%)"></span>
                  <div class="align-items-center position-relative z-2">
                    <div *ngIf="ganador.disponible" class="">
                      <div class="text-center text-md-start py-md-5 px-4 ps-md-5 pe-md-0 me-md-n5">
                        <h3 class="text-uppercase fw-bold ps-xxl-3 pb-2 mb-1">Ticket Disponible</h3>
                        <p class="text-body-emphasis ps-xxl-3 mb-1">El ticket no fue apartado por nadie</p>
                        <p class="text-body-emphasis ps-xxl-3 mb-0">Pudo ser tuyo, participa y gana en nuestras proximas rifas</p>
                      </div>
                    </div>
                    <div *ngIf="!ganador.disponible" class="">
                      <div class="text-center text-md-start py-md-5 px-4 ps-md-5 pe-md-0 me-md-n5">
                        <h3 class="text-uppercase fw-bold ps-xxl-3 pb-2 mb-1"> {{ ganador.nombre }} </h3>
                        <p class="text-body-emphasis ps-xxl-3 mb-1"> <span class="fw-bolder">Sector:</span> {{ ganador.ruta.name }} {{ ganador.direccion }} </p>
                        <p class="text-body-emphasis ps-xxl-3 mb-0"> <span class="text-dark rounded-pill py-1 px-2 fw-bolder" [ngClass]="{'bg-white': ganador.estado === 'Apartado', 'bg-danger': ganador.estado === 'Pagado'}" >Ticket {{ganador.estado}}</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="ganador.img && ganador.img.length > 0" class="d-flex flex-wrap justify-content-center gap-2 mb-2 mt-4">
                <div *ngFor="let img of ganador.img" >
                    <img src="../../../assets/img/food-delivery/cart/01.jpg" alt="">
                </div>
            </div>

            <div class="d-none d-lg-block" style="padding-bottom: 3%"></div>
        </section>

         <!-- SECTION PREMIOS ESPECIALES  -->
        <section *ngIf="rifa.premios.length > 0" class="container pb-5 mb-2 mb-md-4 mb-lg-5">
            <div class="rounded-3 py-5 px-3 px-md-0" style="background: rgba(0, 0, 0, 0.2);">
                <div class="row justify-content-center mb-2 py-md-2 py-lg-4">
                    <div class="col-lg-10 col-md-11">
                        <h2 class="pb-3">Premios Especiales</h2>
                        <div class="row row-cols-1 row-cols-md-2 g-4">
    
                            <!-- Item -->
                            <div class="col " *ngFor="let premio of rifa.premios; let i = index">
                                <div class="card h-100 border-0 bg-segundo-dark shadow-sm p-md-2 p-lg-4">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="bg-primero shadow-primary rounded-3 flex-shrink-0 p-3">
                                            <p class="mb-0 text-white display-4"> {{ i + 1 }} </p>
                                        </div>
                                        <div class="ps-4 ms-lg-3">
                                            <h3 class="display-6 mb-1"> {{ premio.fecha | date:'d/M/yy, h:mm a' }} </h3>
                                            <p class="mb-0"> {{ premio.name }} </p>
                                            <p class="mb-0"> {{ premio.descripcion }} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION METODOS DE PAGOS  -->
        <section *ngIf="rifa.metodos.length > 0" class="container pb-5 my-md-2 my-lg-4 my-xl-5 bg-segundo-dark">
            <h2 class="pb-3 text-white">Metodos de pago</h2>
            <div class="justify-content-center pt-5 pb-1 pb-sm-2 pb-md-3">
                <div class="d-flex flex-wrap gap-2">
    
                    <div *ngFor="let metodo of rifa.metodos" class="d-flex flex-column w-sm-50 rounded p-4 text-center mb-3" style="background: rgba(0, 0, 0, 0.2);">
                        <div class="card-body p-0">
                            <div class="d-inline-block fw-bold fs-3 lh-1 p-3 text-white">
                                {{ metodo.name }}
                            </div>
                            <p class="mb-0 text-break text-white">{{ metodo.descripcion }}</p>
                            <p class="pb-2 pb-sm-3 mb-3 text-white"> <span class="fw-bold text-white">cuenta: </span> {{ metodo.cuenta }}</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>

        <!-- SECTION PORCENTAJE -->
         <!-- PORCENTAJE DE MUMEROS -->

        <section class="container">
            <div class="mb-3">
                <h5 class="m-t-30 text-white">Porcentaje<span class="pull-right text-white"> {{ ((apartados + pagados )* 100) / rifa.numeros }}% </span></h5>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="height:15px;" [ngStyle]="{'width': ((apartados + pagados )* 100) / rifa.numeros + '%'}" role="progressbar"></div>
                </div>
            </div>
        </section>

        <!-- SECTION TICKETS  -->
        <section *ngIf="rifa.abierta" class="container pb-5 my-md-2 my-lg-4 my-xl-5">
            <h2 class="pb-3 mb-0 text-white">Selecciona la cantidad tickets que deseas comprar</h2>

            <div class="input-group mb-3 col-12 col-md-6">
                <div class="input-group-prepend">
                    <button (click)="cambiarValor(-1)" class="btn btn-danger" type="button" id="button-addon1">-</button>
                </div>
                <input type="number" min="1" max="100" [(ngModel)]="cantt" (ngModelChange)="changeValor($event)" #cant class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                <div class="input-group-append">
                    <button (click)="cambiarValor(1)" class="btn btn-success" type="button" id="button-addon2">+</button>
                </div>
            </div>
            
            <!-- REGISTRAR PAGO -->
            <div>
                <div>
                    <p class="mb-1 text-center text-muted"> <small>TOTAL:</small> </p>
                    <h4  class="text-success text-center display-4"> {{ (cantt * rifa.monto) * metodoSelected?.tasa! | number }} bs </h4>
                </div>

                <hr>
                
                <hr>
                
                <div *ngIf="metodoSelected" class="card shadow my-4">
                    <div class="card-body text-center">
                        <h4 class="text-dark mb-2"> {{ metodoSelected.name }} </h4>
                        <p class="text-dark mb-0 text-break">{{ metodoSelected.descripcion }}</p>
                        <p class="text-dark mb-0">
                            <span class="fw-bold text-dark">cuenta: </span> {{ metodoSelected.cuenta }}
                        </p>
                        <p *ngIf="metodoSelected.tasa !== 1" class="text-dark mb-0">
                            <span class="fw-bold text-dark">Tasa: </span> {{ metodoSelected.tasa | number }}
                        </p>
                    </div>
                </div>

                <form autocomplete="off" [formGroup]="paidForm" (ngSubmit)="registrarPago()">

                    <div class="my-3">
                        <label for="metodoPago" class="form-label text-white">Metodo de pago</label>
                        <select [ngClass]="{'is-invalid': ms.value === '' && paidSubmitted, 'is-valid': ms.value !== '' && paidSubmitted }" formControlName="metodo" class="form-select" aria-label="Default select example" (change)="selecMetodo(ms.value)" #ms>
                            <option value="">Seleccionar Metodo de Pago</option>
                            <option [value]="metodo.name" *ngFor="let metodo of rifa.metodos" > {{ metodo.name }} </option>
                        </select>
                        <small id="metodoPago" *ngIf="ms.value === '' && paidSubmitted" class="text-danger">Este campo es obligatorio</small>
                    </div>



                    <div class="mb-3">
                        <label for="" class="form-label text-white">Monto</label>
                        <input type="number" min="1" formControlName="amount" [ngClass]="{'is-invalid': validatePaid('amount'), 'is-valid': !validatePaid('amount') && paidSubmitted }" class="form-control" placeholder="Monto" aria-describedby="Monto"/>
                        <small id="amount" *ngIf="validatePaid('amount')" class="text-danger">Este campo es obligatorio y debe ser mayor a 0</small>
                    </div>                    

                    <div class="mb-3">
                        <label for="" class="form-label text-white">Nombres</label>
                        <input type="text" formControlName="nombre" [ngClass]="{'is-invalid': validatePaid('nombre'), 'is-valid': !validatePaid('nombre') && paidSubmitted }" class="form-control" placeholder="nombre" aria-describedby="nombre"/>
                        <small id="nombre" *ngIf="validatePaid('nombre')" class="text-danger">Este campo es obligatorio</small>
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label text-white">Cedula</label>
                        <input type="text" formControlName="cedula" [ngClass]="{'is-invalid': validatePaid('cedula'), 'is-valid': !validatePaid('cedula') && paidSubmitted }" class="form-control" placeholder="cedula" aria-describedby="cedula"/>
                        <small id="cedula" *ngIf="validatePaid('cedula')" class="text-danger">Este campo es obligatorio</small>
                    </div>

                    <div class="row mb-3">                    
                        <div class="col-4">
                            <label for="codigoTelefonico" class="form-label text-white">Código Telefónico</label>
                            <select #cs formControlName="codigo" class="form-select" id="codigoTelefonico" [ngClass]="{'is-invalid': cs.value === '' && paidSubmitted, 'is-valid': cs.value !== '' && paidSubmitted }">
                                <option value="">Seleccionar Codigo</option>
                                <option *ngFor="let pais of paises" [value]="pais.phoneCode">
                                    {{ pais.nameES }} (+{{ pais.phoneCode }})
                                </option>
                            </select>
                            <small id="codigo" *ngIf="cs.value === '' && paidSubmitted" class="text-danger">Este campo es obligatorio</small>

                        </div>
                        
                        <div class="col">
                            <label for="" class="form-label text-white">Telefono ejemplo 4240000000</label>
                            <input type="text" formControlName="telefono" [ngClass]="{'is-invalid': validatePaid('telefono'), 'is-valid': !validatePaid('telefono') && paidSubmitted }" class="form-control" placeholder="telefono" aria-describedby="telefono"/>
                            <small id="telefono" *ngIf="validatePaid('telefono')" class="text-danger">Este campo es obligatorio</small>
                        </div>
                    </div>            

                    <div class="mb-3">
                        <label for="" class="form-label text-white">Dirección</label>
                        <input type="text" formControlName="direccion" [ngClass]="{'is-invalid': validatePaid('direccion'), 'is-valid': !validatePaid('direccion') && paidSubmitted }" class="form-control" placeholder="direccion" aria-describedby="direccion"/>
                        <small id="direccion" *ngIf="validatePaid('direccion')" class="text-danger">Este campo es obligatorio</small>
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label text-white">Referencia</label>
                        <input type="text" formControlName="referencia" [ngClass]="{'is-invalid': validatePaid('referencia'), 'is-valid': !validatePaid('referencia') && paidSubmitted }" class="form-control" placeholder="Referencia" aria-describedby="Referencia"/>
                        <small id="referencia" *ngIf="validatePaid('referencia')" class="text-danger">Este campo es obligatorio</small>
                    </div>

                    <div class="my-3">

                        <div class="form-group file-area border">
                            <input #fileImg (change)="cambiarImage($event)" type="file" name="images" id="images" required="required" multiple="multiple" />
                            <div class="file-dummy">

                                <div class="default py-5">
                                    <h5 class="text-center card-title text-muted">
                                        Agregar Imagen
                                    </h5>
                                    <p class="text-center card-text fs-2 mb-0">
                                        <i class="bi bi-plus"></i>
                                    </p>
                                    <p class="text-center card-text fs-sm">Arrastre la imagen ó dar click aquí</p>
                                </div>

                                <!-- IMG VALIDA -->
                                <div class="success">

                                    <div class="d-flex justify-content-center" *ngIf="imgTempP">
                                        <div class="mx-auto" style="background-image: url({{imgTempP}});width: 400px; height: 300px; background-repeat: no-repeat; background-size: contain; background-position: center center;"></div>
                                    </div>

                                </div>
                                <!-- IMG VALIDA -->
                            </div>
                        </div>

                        <div *ngIf="imgTempP" class="d-flex justify-content-between flex-wrap pt-4 gap-2">
                            <button type="button" class="btn btn-danger btn-sm" (click)="imgTempP = ''; fileImg.value = ''"> Eliminar </button>
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button [disabled]="btnPaid" type="submit" name="" id="" class="btn btn-primary w-100">
                            <span class="text-white" *ngIf="!btnPaid">
                                Registrar Pago
                            </span>
                            <span class="text-white" *ngIf="btnPaid">
                                Guardando...
                            </span>
                        </button>
                    </div>
                    

                </form>
            </div>


        </section>

        <!-- Related products-->
        <section class="pb-5 mb-2 mb-xl-4">
            <app-cards [params]="{'title': 'Rifas Activas', 'search': 'Activas'}"></app-cards>
        </section>
    </div>
</section>


<!-- BUSCAR TICKETS -->
    <div class="modal fade" id="searchTicket" tabindex="-1" aria-labelledby="searchTicketLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="searchTicketLabel">Buscar mi ticket</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- BUSCADOR -->
                    <div class="mb-4">
                        <label for="search-input" class="form-label">Buscar</label>
                        <input (keydown.enter)="search(searchI.value)" #searchI class="form-control" type="search" id="search-input" placeholder="Buscar por telefono o cedula">
                    </div>

                    <!-- TICKETS -->
                    <ng-container *ngIf="tickets.length > 0">

                        <div class="card mb-3" *ngFor="let ticket of tickets">
                            <div class="card-body">
                                <h5 class="card-title display-4"> #{{ ticket.numero }} </h5>
                                <p class="card-text fs-sm mb-0" [ngClass]="{'text-warning': ticket.estado === 'Apartado', 'text-danger': ticket.estado === 'Pagado'}"> {{ ticket.estado }} </p>
                                <p class="card-text fw-bold"> Valor del ticket {{ rifa.monto | currency }} </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"> {{ ticket.nombre }} </li>
                                <li class="list-group-item"> {{ ticket.telefono }} </li>
                                <li class="list-group-item" *ngFor="let pago of ticket.pagos">
                                    <span class="fw-bold">{{ pago.descripcion }}</span> - <small> {{ pago.fecha | date:'d/M/yy, h:mm a' }} </small> - {{ pago.monto | currency }}
                                </li>
                                <li class="list-group-item"> <span class="fw-bold">resta: {{ (rifa.monto - ticket.total!) | currency }} </span> </li>
                            </ul>
                        </div>

                    </ng-container>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>