<!-- HERO -->
<section class="container mt-4" style="color: #fff;">

    <div class="d-flex flex-wrap justify-content-between align-items-center ">
        
        <div class="col-12 col-md-3">
            <h1 class="text-white display-4 from-bottom delay-1">Gana con king Jesus</h1>
            <h2 class="text-white fw-light pb-1 from-bottom">El exito no se mide por lo que logras, si no por los obstaculos que superas en el camino!</h2>
            <h5 class="text-white fw-light pb-3 from-bottom delay-2">Es hora de ganar con king Jesus</h5>
        </div>

        <!-- SLIDER -->
        <div class="col-12 col-md-8">
            <swiper-container #swiper class="swiper" autoplay-delay="2500" autoplay-disable-on-interaction="false">
                
                <!-- SLIDER -->
                <swiper-slide class="swiper-slide" *ngFor="let rifa of rifas">
                    <a [routerLink]="['/rifa', rifa.rifid]">
                        <img class="rounded" [src]="rifa.portada?.img| imagen: 'portada'" alt="">
                    </a>
                </swiper-slide>

            </swiper-container>
        </div>

    </div>

</section>

<!-- CALL ACTION -->
<section class="mt-4 py-4 call-action bg-primero">
    <div class="py-2" style="visibility: visible; animation-name: fadeIn;">
        <div class="section-header text-center">
            <h3 class="section-description text-white display-5">¡Estas a solo un click de distancia!</h3>
        </div>
    </div>
</section>

<!-- RIFAS ACTIVAS -->
 <section class="container mt-4">
    <app-cards [params]="{'title': 'Rifas Activas', 'search': 'Activas'}"></app-cards>

    <div class="jumbotron jumbotron-fluid mt-4">
        <div class="container">
            <h1 class="display-4 text-center text-white">Reserva Tu Ticket Ahora</h1>
            <p class="lead text-center">No dejes que otros se lleven tu premio. Participa antes de que se agoten los números disponibles.</p>
        </div>
    </div>

 </section>

 <!-- RIFAS FINALIZADAS -->
 <section class="container mt-4">
    <app-cards [params]="{'title': 'Rifas Finalizadas', 'search': 'Finalizadas'}"></app-cards>
 </section>

 <!-- COMO FUNCIONA -->
<section class="container pt-4 mb-4 mb-md-5">
    <h2 class="h3 text-center mb-grid-gutter pt-2">Como funciona?</h2>
    <div class="row g-0 bg-light rounded-3">
        <div class="col-xl-4 col-lg-12 col-md-4 bg-primero">
            <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                    <div class="display-3 fw-normal opacity-10 me-4 text-white">01</div>
                    <div class="ps-2">
                        <!-- <img class="d-block my-2" src="../../../assets/img/grocery/steps/01.png" width="72" alt="Order online"> -->
                        <p class="mb-3 pt-1 text-white">Elige una rifa activa</p>
                    </div>
                </div>
                <hr class="d-md-none d-lg-block d-xl-none">
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-4 bg-segundo">
            <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                    <div class="display-3 fw-normal opacity-15 me-4 text-white">02</div>
                    <div class="ps-2">
                        <!-- <img class="d-block my-2" src="../../../assets/img/grocery/steps/box.png" width="72" alt="Grocery collected"> -->
                        <p class="mb-3 pt-1 text-white">Compra tu boleto desde nuestra web</p>
                    </div>
                </div>
                <hr class="d-md-none d-lg-block d-xl-none">
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-4 bg-tercero">
            <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                    <div class="display-3 fw-normal opacity-15 me-4 text-white">03</div>
                    <div class="ps-2">
                        <!-- <img class="d-block my-2" src="../../../assets/img/grocery/steps/03.png" width="72" alt="Delivery"> -->
                        <p class="mb-3 pt-1 text-white">Espera al sorteo en vivo y descubre si eres el ganador.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- REDES SOCIALES -->
<section class="container-fluid px-0">
    <div class="row g-0">

        <div class="col-md-6">

            <a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-primary" href="https://www.instagram.com/ganaconelkingjesus1987/" target="_blank">
                <div class="card-body text-center">
                    <i class="ci-instagram h3 mt-2 mb-4 text-primary"></i>
                    <h3 class="h5 mb-1 text-white">Siguenos en instagram</h3>
                    <p class="text-muted fs-sm">{{'@ganaconelkingjesus1987'}}</p>
                </div>
            </a>

        </div>

        <div class="col-md-6">
            <a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-accent" href="https://www.facebook.com/ganaconelkingjesus1987/" target="_blank">
                <div class="card-body text-center">
                    <i class="ci-facebook h3 mt-2 mb-4 text-accent"></i>
                    <h3 class="h5 mb-1 text-white">Siguenos en facebook</h3>
                    <p class="text-muted fs-sm">{{'@ganaconelkingjesus1987'}}</p>
                </div>
            </a>
        </div>

    </div>
</section>
