<!-- Footer-->
<a *ngIf="empresa.phone !== 'none'" href="tel:{{empresa.phone}}" target="_blank" class="btn-flotante2 btn btn-dark rounded-pill btn-icon">
    <i class="ci-phone"></i>
</a>
<a [href]="empresa.whatsapp" target="_blank" class="btn-flotante btn btn-success rounded-pill btn-icon p-1">
    <img src="../../../assets/fonts/whatsappWhite.svg" width="40px" alt="whatsapp">
</a>
<footer class="footer bg-segundo pt-5">
    <div class="container">
        <div class="row pb-2">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">navegación</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item">
                            <a class="widget-list-link" [routerLink]="['/home']" href="#">Inicio</a>
                        </li>
                        <li class="widget-list-item">
                            <a class="widget-list-link" [routerLink]="['/about']" href="#">Nosotros</a>
                        </li>
                        <li class="widget-list-item">
                            <a class="widget-list-link" [routerLink]="['/contact']" href="#">Contacto</a>
                        </li>                        
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Información</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link">Terminos &amp; Condiciones</a></li>
                        <li class="widget-list-item"><a class="widget-list-link">Politicas de privacidad</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Siguenos en:</h3>
                    <a *ngIf="empresa.facebook !== 'none'" class="btn-social bs-light bs-facebook me-2 mb-2" [href]="empresa.facebook" target="_blank"><i class="ci-facebook"></i></a>
                    <a *ngIf="empresa.facebook !== 'none'" class="btn-social bs-light bs-instagram me-2 mb-2" [href]="empresa.instagram" target="_blank"><i class="ci-instagram"></i></a>
                    <a *ngIf="empresa.facebook !== 'none'" class="btn-social bs-light bs-instagram me-2 mb-2" [href]="empresa.tiktok" target="_blank"><i class="ci-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bg-segundo-dark px-lg-3 py-3">

        <div class="container">        
            <div class="row py-3">

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">Entrega rapida</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">Al siguiente dia de haber ganado</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">Garantias</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">Todos nuestros productos son 100% garantizados</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-support text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">Atención</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">de lunes a sabados en horario de oficina</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">Pagos seguros</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">Garantizamos un protección superior con los certificados SSL</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="d-sm-flex justify-content-between align-items-center mx-auto px-3" style="max-width: 80rem;">
            <div class="fs-xs text-light opacity-50 text-center text-sm-start py-3">© Todos los derechos reservados por: {{empresa.name}}, {{year}} </div>
            <!-- <div class="py-3"><img class="d-block mx-auto mx-sm-start" src="img/cards-alt.png" width="187" alt="Payment methods"></div> -->
        </div>
    </div>
</footer>